<ion-view view-title="商品分类">
	<ion-content>
		
		<ion-scroll style="width:20vw;height:auto;float:left" scrollbar-y="false" direction="y" >
			<div class="sidesort">
				<div  style="line-height:80px;font-size:25px;text-align: center;color:#fff;" ng-repeat="lis in sortlist" ng-click="sortclick()">{{lis.title}}</div>
			</div>
		</ion-scroll>
		<div style="width:80vw;height:300px;float:left;">
			<div class="sortmethod"><span ng-click="saleclick()" ng-repeat="fil in sortFilter">{{fil.title}}</span></div>
			<!--<div class="mediv" ng-repeat="ldet in loaddet track by $index">
				<a href="#/tab/sort/{{ldet.gsort}}"><img class="meimg" src={{ldet.img}} alt="" /></a>
				<p class="metitle"><a href="{{ldet.link}}">{{ldet.title}}</a></p>
				<p><span>价格￥{{ldet.price}}</span><span>喜欢{{ldet.cfav}}</span></p>	
			</div>-->
			<div class="list" ng-repeat="ldet in loaddet track by $index">
			    <a class="item item-thumbnail-left" href="#/tab/sort/{{ldet.gsort}}/{{ldet.id}}">
			      <img src={{ldet.img}} class="meimg" />
			      <h2>{{ldet.title}}</h2>
			      <p>店铺：{{ldet.shopSeller}}</p>
			      <p>{{ldet.cfav}}搜藏</p>
			      <p>￥{{ldet.price}}</p>			      
			    </a>			    
			    <span ng-click="tap();$event.stopPropagation();">点击分享</span>
			</div>
		</div>
	</ion-content>
</ion-view>